  /**
  	*  Ad hoc Modifications to Bootstrap 
    * 
    *  Author: Patrice Lopez        
  	*/

.label {
    padding: 1px 3px 2px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

html, body {
  background-color: #D8D8D8;
  word-break:normal;
}
body {
  padding-top: 20px; /* 40px to make the container go all the way to the bottom of the topbar */
  /*font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
  white-space:normal;
  /*font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break:normal;*/
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.container > footer p {
  text-align: center;
}

/* specific additions for the example index page */
.nav-logo img {
  margin-top: 4px;
}

h4 {
  line-height: 28px;
  margin-bottom: 10px;
}

/*  For Code Snippets
        ============================================ */
        
code, pre {
    background-color: #fee9cc;
}
pre {
    padding: 16px 20px;
    margin: 10px 0;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width: 100%;
}

.alert pre {
    text-shadow: none;
}

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

a:focus{outline:thin dotted #BC0E0E;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
/*a:hover, a:active{outline:0;color:#BC0E0E;}*/
a{color:#BC0E0E;text-decoration:none;}                
/*a:hover{color:#BC0E0E;text-decoration:underline;}*/
a:hover{color:#BC0E0E;}

h3{ color:#70695C; }

a.section-not-active { color: #70695C; }
a.section-active { color: #BC0E0E; }
span.section-not-active { color: #70695C; }
span.section-active { color: #BC0E0E; }

.table th{background-color:#FCF8E3;} 
.table tr{background-color:#FCF8E3;}       
.table tbody tr.highlight td { background-color: #F2DEDE; }
  
p {word-break:normal;}
/*span {word-break:normal;}*/

.info-sense-box,.details-list {
	margin:1px 1;padding:5px 2px 3px 2px;border:1px solid #87A1A8;background-color:#87A1A8;border-radius:5px;
	font-size:14px;
}

.uneditable-input {
  white-space: nowrap;
}