/.git
/bin
/build

**/build
!**/pdf.js/build
**/target

target
grobid-home/tmp
.DS_Store
Thumbs.db
.project
.settings
.classpath
.idea
#.gradle
#gradle
*/out/
*.iml
*.log
*.log.*
*.old
tei-alt
raw-alt
/log
/logs

dependency-reduced-pom.xml

grobid-core/dependency-reduced-pom.xml

grobid-core/src/test/resources/org/grobid/core/annotations/resTeiStAXParser/out.tei.xml

grobid-home/models/affiliation-address/model.crf.old

grobid-home/models/name/header/model.crf.old

build.xml

*/maven-build.properties
*/maven-build.xml
maven-build.xml
release.properties

grobid-quantities
grobid-dictionaries
grobid-ner
grobid-bio
grobid-istex
grobid-astro
grobid-chem
grobid-books
grobid-smecta
grobid-example
grobid-test-ant
grobid-software
grobid-books
grobid-smecta
grobid-keyterm
grobid-home/models/quantities
grobid-home/models/dictionaries-lexical-entries
grobid-home/models/units
grobid-home/models/bio
grobid-home/models/ner
grobid-home/models/nerfr
grobid-home/models/nersense
grobid-home/models/astro
grobid-home/models/lexical-entry/*
grobid-home/models/*lexical-entry*
grobid-home/models/lexical-entry/model.wapiti
grobid-home/models/dictionary*
grobid-home/models/dictionaries*

grobid-home/models/software*
grobid-home/models/superconductors*
grobid-home/models/values
grobid-home/models/dataseer
grobid-home/models/dataset
grobid-home/models/*bert/
grobid-home/models/*BERT*/
grobid-home/models/*scibert*/
