target
grobid-home/tmp
.DS_Store
Thumbs.db
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
tei-alt
raw-alt

grobid-core/src/test/resources/org/grobid/core/annotations/resTeiStAXParser/out.tei.xml

grobid-home/models/affiliation-address/model.crf.old

grobid-home/models/name/header/model.crf.old

build.xml

grobid-core/maven-build.properties
grobid-core/maven-build.xml
grobid-home/maven-build.properties
grobid-home/maven-build.xml
grobid-service/maven-build.properties
grobid-service/maven-build.xml
grobid-trainer/maven-build.properties
grobid-trainer/maven-build.xml

maven-build.xml

release.properties

grobid-quantities
grobid-dictionaries
grobid-ner
grobid-bio
grobid-istex
grobid-astro
grobid-chem
grobid-smecta
grobid-home/models/quantities
grobid-home/models/dictionaries-lexical-entries
grobid-home/models/units
grobid-home/models/bio
grobid-home/models/ner
grobid-home/models/nerfr
grobid-home/models/nersense
grobid-home/models/astro
grobid-home/models/lexical-entry/*
grobid-home/models/*lexical-entry*
grobid-home/models/lexical-entry/model.wapiti
grobid-home/models/dictionary*
grobid-home/models/dictionaries*
