<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
        <appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
                <!--param name="file" value="${catalina.base}/logs/grobid.log" /-->
				<param name="file" value="./grobid.log" />
                <param name="datePattern" value="'.'yyyy-MM-dd" />
                <param name="append" value="true" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm.ss} [%-5p] %-25c{1} - %m\n" />
                </layout>
        </appender>
        <root>
                <priority value="INFO"></priority>
                <appender-ref ref="LOGFILE" />
        </root>
</log4j:configuration>