# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: trivy

on:
  push:
    branches: [ "master" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
  schedule:
    - cron: '21 0 * * 6'

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read 
      security-events: write 
      actions: read 
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build CRF image from Dockerfile.crf
        run: |
          docker build -t docker.io/lfoppiano/grobid:${{ github.sha }} -f Dockerfile.crf .
      
      # - name: Build DeepLearning image from Dockerfile.delft
      #   run: |
      #     docker build -t docker.io/lfoppiano/grobid:${{ github.sha }} -f Dockerfile.delft

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'docker.io/lfoppiano/grobid:${{ github.sha }}'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          scan-type: "fs"
          scan-ref: .

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
